@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F4F4F;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;


}

img:focus{
  outline: none;
}

button:focus{
  outline: none;
}

#level h1{ 
  color: #FFF;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sideUp{
  top: -196px;
}

.sideDown{
  top: -196px;
}

.sideLeft{
  top: -64px;
}

.sideRight{
  top: -128px;
}


@keyframes load {
      0% {width: 1% }
      100% {width: 100% }   
    }